*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html, body, #root, .App{
  height: 100%;
  overflow: auto;
}

body{
  font-size: 1.6rem;
}

.pinaka{
  background-color:  #de182e;
}

.mataas{
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0px auto;
  padding: 2rem;
}

.mataas>nav{
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.simbolo{
  display: flex;
  align-self: center;
}

main{
  height: 100%;
  background-color: rgb(249, 249, 249);
}

.lagayan-ng-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 3rem;
  gap: 2rem;
}

footer{
  color: white;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
}
